<script>
	import Header from './Header.svelte';
	import Footer from './Footer.svelte';
</script>

<main>
	<Header />
	<div class="content">
		<slot />
	</div>
	<Footer />
</main>

<style>
	:global(body) {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
			Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		padding: 0;
		margin: 0;
		background-color: #faf9f7;
	}
    .content{
        margin-bottom: 100px;
		margin-top: 86px;
    }
</style>
