<script>

	import UserRecords from './UserRecords.svelte';
	import RecordPopup from './RecordPopup.svelte';
	import { isPopupOpen, records } from '$lib/store/recordStore.js';

</script>

<UserRecords/>
{#if $isPopupOpen}
	<RecordPopup />
{/if}
