<script>
	import { isPopupOpen, records, addRecord } from '$lib/store/recordStore.js';
	import { fetchDailyAdvise } from '$lib/utils/promt.js';
	let isLoading = false;
	const showAddRecordPopup = () => {
		$isPopupOpen = true;
	};
	const createAdvisePost = async () => {
		isLoading = true;
		try {
			const history = [];
			$records
				.filter((item) => item.type !== 'chatgpt')
				.slice(0, 3)
				.reverse()
				.forEach((item) => {
					history.push({ role: 'assistant', content: item.title });
					history.push({ role: 'user', content: item.content });
				});
			if (!history.length) return;

			const advise = await fetchDailyAdvise(history);

			addRecord({ title: 'AI-Coach', content: advise.content, type: 'chatgpt' });
		} catch (err) {
			console.log(err);
		}

		isLoading = false;
	};
</script>

<footer>
	<nav>
		<a href="/">Home</a>
		{#if isLoading}
			<div>Loading...</div>
		{:else}
			<button class="rountdBtn" on:click={createAdvisePost}>M</button>
		{/if}
		<button class="rountdBtn" on:click={showAddRecordPopup}>+</button>
		<a href="settings">Settings</a>
	</nav>
</footer>

<style>
	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px;
		background-color: #f0e9e2;
		box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
	}
	nav {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
	}

	nav a {
		background-color: transparent;
		border: none;
		color: #9a7d5b;
		font-size: 1.2rem;
		cursor: pointer;
		margin: 0 16px;
	}

	nav a:hover {
		color: #8a6d4b;
	}

	.rountdBtn {
		background-color: #9a7d5b;
		border: none;
		color: #f0e9e2;
		font-size: 24px;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		min-width: 48px;
		min-height: 48px;
		max-width: 48px;
		max-height: 48px;
	}

	.rountdBtn:hover {
		background-color: #8a6d4b;
		color: white;
	}
</style>
