<script>
 import {user} from '$lib/store/userStore.js'

  export let experienceToNextLevel = 100
</script>

<header>
    <div class="user-info">
      <img src="{$user.avatarUrl}" alt="User avatar" />
      <h1>{$user.name}</h1>
    </div>
    <div class="progress-info">
      <h2>Level {$user.level}</h2>
      <h2>Experience: {$user.experience}/{experienceToNextLevel}</h2>
    </div>
  </header>
  
  <style>
    header {
      position: fixed;
      top:0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      background-color: #f0e9e2;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
    }
  
    .user-info {
      display: flex;
      align-items: center;
    }
  
    .user-info img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 1rem;
    }
  
    .user-info h1 {
      
      font-size: 1.6rem;
      color: #9a7d5b;
      margin: 0;
    }
  
    .progress-info h2 {
      
      font-size: 1.2rem;
      color: #4c4c4c;
      margin: 0;
    }
  
    .progress-info h2 + h2 {
      margin-top: 0.5rem;
    }
  </style>