<script>
	import { onMount } from 'svelte';
	import { fetchDailyQuestion } from '$lib/utils/promt.js';
	import { isPopupOpen, addRecord } from '$lib/store/recordStore.js';
	import { records } from '$lib/store/recordStore.js';

	let title = '';
	let content = '';
	let viewport = '100vh';

	function resizeHandler() {
		viewport = window.visualViewport.height;
	}
	onMount(() => {
		viewport = window.visualViewport.height;
		window.visualViewport.addEventListener('resize', resizeHandler);
	});

	function handleSubmit() {
		if (title.trim() && content.trim()) {
			addRecord({title, content, type:'user'})
			
			onClose();
		}
	}
	async function getQuestion() {
		try {
			title = await fetchDailyQuestion();
		} catch (error) {
			console.error('Error fetching daily question:', error);
		}
	}
	getQuestion();
	const onClose = () => {
		$isPopupOpen = false;
	};
	const reloadQuestion = () => {
		title = '';
		getQuestion();
	};
</script>

<!-- svelte-ignore a11y-click-events-have-key-events -->
<div class="popup-overlay" on:click={onClose} style={`height: ${viewport}px`}>
	<div class="popup" on:click={(e) => e.stopPropagation()} style={`height: ${viewport}px`}>
		<div class="buttons">
			<button class="close-btn" on:click={onClose}>Close</button>
			{#if title}
				<svg
					xmlns="http://www.w3.org/2000/svg"
					version="1.1"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					xmlns:svgjs="http://svgjs.com/svgjs"
					width="32"
					height="32"
					viewBox="0 0 489.533 489.533"
					style="enable-background:new 0 0 512 512"
					xml:space="preserve"
					class="reload"
					on:click={reloadQuestion}
					><g
						><path
							d="M268.175 488.161c98.2-11 176.9-89.5 188.1-187.7 14.7-128.4-85.1-237.7-210.2-239.1v-57.6c0-3.2-4-4.9-6.7-2.9l-118.6 87.1c-2 1.5-2 4.4 0 5.9l118.6 87.1c2.7 2 6.7.2 6.7-2.9v-57.5c87.9 1.4 158.3 76.2 152.3 165.6-5.1 76.9-67.8 139.3-144.7 144.2-81.5 5.2-150.8-53-163.2-130-2.3-14.3-14.8-24.7-29.2-24.7-17.9 0-31.9 15.9-29.1 33.6 17.4 109.7 118.7 192 236 178.9z"
							fill="#000000"
							data-original="#000000"
						/></g
					></svg
				>
			{/if}
			<button on:click={handleSubmit} class="submit">Save</button>
		</div>
		<form on:submit|preventDefault={handleSubmit}>
			<div class="title">{title || 'Загрузка'}</div>

			<textarea id="content" bind:value={content} />
		</form>
	</div>
</div>

<!-- (same as before) -->

<style>
	.buttons {
		padding-top: 8px;
		display: flex;
		justify-content: space-between;
	}
	.popup-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
	}

	.popup {
		background-color: #f0e9e2;
		padding: 8px;
		border-radius: 5px;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.popup * {
		box-sizing: border-box;
	}

	.close-btn {
		background-color: transparent;
		border: none;
		color: #4c4c4c;
		font-size: 1.2rem;
		cursor: pointer;
		padding: 0;
	}
	form {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	.title {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
			Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 16px;
		margin: 16px 0;
		color: rgba(0, 0, 0, 0.6);
	}
	textarea {
		display: block;
		width: 100%;
		background-color: #ffffff;
		border: 1px solid #9a7d5b;
		color: #4c4c4c;
		padding: 0.5rem;
		margin-bottom: 1rem;
		resize: none;
		font-size: 16px;
		flex-grow: 1;
	}

	.submit {
		background-color: #9a7d5b;
		border: none;
		color: #f0e9e2;
		font-size: 1.1rem;
		padding: 0.5rem 1rem;
		border-radius: 5px;
		cursor: pointer;
	}

	.submit:hover {
		background-color: #8a6d4b;
	}
</style>
