<script>
	import { records } from '$lib/store/recordStore.js';
	const deleteRecord = (id)=>{
		records.update(state=>state.filter(item=>item.id!==id))
	}
</script>

<div class="user-records">
	{#each $records as record (record.id)}
		<div class="record" class:chatgpt={record.type==='chatgpt'}>
			<div class="title">{record.title}</div>
			<div class="content">{record.content}</div>
			<div class="bottom">
				<div class="date">{new Date(record.id).toISOString().slice(0, 10)}</div>
				<button class="delete" on:click={()=>deleteRecord(record.id)}>delete</button>
			</div>
		</div>
	{/each}
</div>

<style>
	.user-records {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
			Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		
	}
	.record {
		background-color: white;
		padding: 8px;
		border-radius: 8px;
		margin: 16px 8px;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
			rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
		cursor: pointer;
		border: 1px solid transparent;
	}
	.record:hover {
		border: 1px solid silver;
	}
	.title {
		font-size: 18px;
		margin-bottom: 16px;
		color: rgba(0, 0, 0, 0.6);
	}
	.content {
		font-size: 14px;
		color: rgba(0, 0, 0, 0.8);
		white-space: pre-wrap;
	}
	.date {
		
		font-size: 12px;
		color: rgba(0, 0, 0, 0.6);
	}
	.bottom{
		margin-top: 8px;
		display: flex;
		justify-content: space-between;
	}
	.record:hover .delete{
		visibility: visible;
	}
	.delete{
		visibility: hidden;
		background-color: transparent;
		border: none;
		color: red;
		font-size: 12px;
		cursor: pointer;
		padding: 0;
	}
	.chatgpt{
		background-color: rgba(0,0,0, 0.04);
	}
</style>
