<script>
    import {records } from '$lib/store/recordStore.js'
    const copyStore = ()=>{
        navigator.clipboard.writeText(JSON.stringify($records));
    }
    const resetStore = ()=>{
        records.set([])
    }
</script>
<div>
    <div>
        <button on:click={copyStore}>copy store</button>
        <button on:click={resetStore}>reset store</button>
    </div>
</div>

<style>
    button{
        background-color: #9a7d5b;
		border: none;
		color: #f0e9e2;
		font-size: 16px;
		
		border-radius: 8px;
		cursor: pointer;
        padding: 8px;
        margin: 8px;
    }
</style>